name: Release Go Library

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  release-go-library:
    uses: slice-soft/ss-pipeline/.github/workflows/create-release.yml@v0
    secrets: inherit